# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Database files (SQLite) - ignore DB files and backup/journal variants
*.db
*.db-*

